{% extends "base.html" %}
{% load static %}
{% block main %}

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'profil' %}">Asliddin's Blog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                    <a class="nav-link active" aria-current="page" href="{% url 'list' %}">Blogs</a>
                </div>
            </div>
        </div>
    </nav>
    <br>
    <div class="container">
        <div class="row mt-4">
            <div class="col-10 offset-1">
                <h3>Add blog</h3>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.media}}
                    {{form.as_p}}
                    <input type="submit" class="btn btn-outline-success" value="Save">
                    <input type="reset" class="btn btn-outline-info" value="Cancel">
                </form>
            </div>
        </div>
    </div>
    <br>
    <br>
</body>
{% endblock main %}