{% extends "base.html" %}
{% load static %}
{% block main %}

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'profil' %}">Asliddin's Blog</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
              <a class="nav-link active" aria-current="page" href="{% url 'create-blog' %}">Add blogs</a>
            </div>
          </div>
        </div>
      </nav>
    <br>
    <div class="container mt-4">
        <table class="table">
            <thead>
                <tr style="text-align: center;">
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Body</th>
                    <th scope="col">Created at</th>
                    <th scope="col">Updated at</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for blog in blogs %}
                <tr style="text-align: center;">
                    <th scope="row">{{blog.id}}</th>
                    <td>{{blog.title|truncatechars:20}}</td>
                    <td>{{blog.body| safe | truncatechars:40}}</td>
                    <td>{{blog.created_at}}</td>
                    <td>{{blog.updated_at}}</td>
                    <td>
                        <a href="{% url 'update-blog' pk=blog.id %}" class="btn btn-info btn-sm">
                            Update
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'delete-blog' pk=blog.id %}" class="btn btn-danger btn-sm">
                            Delete
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock main %}