{% extends 'base.html' %}
{% load static %}
{% block main %}

<body>

{% include 'navbar.html' %}

    <section class="section-title">
        <div class="container">
            <div class="section-content">
                <h1>About Me</h1>
            </div>
        </div>
    </section>


    <section id="about-me" class="article-wrapper flex align-items-center" style="padding: 0">
        <div class="container content">
            <div class="row justify-center">
                <article class="content col-md-8 col-12">
                    <a>{{post.body | safe}}</a>
                </article>

            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <p>
                    &copy; 2022 asliddin.com
                </p>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/ScrollMonitor.min.js' %}"></script>
    <script src="{% static 'js/TweenMax.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>
{% endblock main %}