{% load static %}

{% block extrahead %}
    <script>window.CKEDITOR_BASEPATH="/static/ckeditor/ckeditor/";</script>
    {{ block.super }}
{% endblock %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Azimjon Pulatov">
    <meta property="og:site_name" content="Asliddin's Blog" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:description"
        content="Bundan roppa rosa 1 yil oldin Facebookdan rad javobini olgan edim. Rad javobini olish aslida jarayonning bir bo&#x27;lagi ...">



    <link href="{% static 'css/flexgridcombo.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="{% static 'image/jpg' %}" href="{% static 'favicon.ico' %}">

    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
{% block main %}
{% endblock main %}

</html>