{% extends 'base.html' %}
{% load static %}
{% block main %}

<body>
    
{% include "navbar.html" %}

    <div class="progress-bar">
        <div class="bar"></div>
    </div>
    
    <section class="flex align-items-center">
        <div class="container">
            <div class="row article-wrapper justify-center align-top">
                <div class="article-header col-md-8">
                    <br>
                    <br>
                    <h1 class="title">{{post.title}}</h1>
                    
                    <div class="date">
                        <span>{{post.created_at}}</span>
                    </div>
                </div>

                <article class="content col-md-8 col-12">
                    <a>{{post.body | safe}}</a>
                </article>

                <div class="div col-lg-7 col-md-8 col-12">
                    <div class="subscribe-form " id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">
                        <h6>NEWSLETTER</h6>
                        <p>
                            Subscribe to <a href="https://t.me/AsliddinKamoliddinov_blog">@developer_beckend</a>
                            telegram channel where I share interesting & useful stuff.
                        </p>
                    </div>

                </div>
                <ul class="custom-pagination col-md-8 col-12">
                    <div class="pagination-list row">
                        <li class="col prev">
                            <a href="{% url 'previousdetail' pk=post.id %}" title="">
                                &larr; Previous
                            </a>
                        </li>

                        <li class="col"><a href="{% url 'index' %}">See More</a></li>

                        <li class="col next">
                            <a href="{% url 'nextdetail' pk=post.id %}" title="">
                                Next &rarr;
                            </a>
                        </li>
                    </div>
                </ul>

            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <p>
                    &copy; 2021 asliddin.com
                </p>
            </div>
        </div>
    </footer>

    <script src="{% static 'js/ScrollMonitor.min.js' %}"></script>
    <script src="{% static 'js/TweenMax.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>
{% endblock main %}