{% load static %}

<header class="header--title flex align-items-center">
    <div class="container">
        <div class="align-items-center flex">
            <div class="logo-wrapper">
                <a class="logo" href="{% url 'profil' %}">Asliddin's Blog</a>
            </div>
            <ul class="nav align-items-center">
                <li><a class="list-item" href="{% url 'about' %}">About</a></li>
                <li><a class="list-item" href="/">Blog</a></li>
                <li><a class="list-item" href="https://t.me/AsliddinKamoliddinov_blog" target="_blank">Channel</a></li>
            </ul>
            <div class="burger-menu">
                <div class="bar bar--top"></div>
                <div class="bar bar--middle"></div>
                <div class="bar bar--bottom"></div>
            </div>
        </div>
    </div>
</header>


